.h3 {
    align-items: center;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.slider img {
    flex: 1 0 auto;
    margin: 0 50px;
    width: 97%;
    height: 650px;
    align-items: center;
    position: sticky;
    object-fit: cover;
    scroll-snap-align: center;
}